basic-copyarea
basic-copyarea-size
basic-fillrect
basic-putimage
basic-lines
basic-stress
render-fill
render-trapezoid
render-trapezoid-image
render-fill-copy
render-composite-solid
render-composite-solid-mask
render-copyarea
render-copyarea-size
render-copy-alphaless
mixed-stress
lowlevel-blt-bench
vsync.avi
dri2-race
dri2-swap
dri2-test
